[submodule "vocabulary"]
	path = vocabulary
	url = git@github.com:stakater/vocabulary.git
[submodule "theme_common"]
	path = theme_common
	url = https://github.com/stakater/stakater-docs-mkdocs-theme.git
	branch = changes
