name: Closing a pull request

on:
  pull_request_target:
    types:
      - closed

jobs:
  push:
    uses: stakater/.github/.github/workflows/pull_request_closed.yaml@v0.0.131
    secrets:
      GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
