name: Push

on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[0-9]+'

jobs:
  push:
    uses: stakater/.github/.github/workflows/push_versioned_doc.yaml@v0.0.131
    with:
      LATEST_DOC_VERSION: "1.1"
    secrets:
      GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
